<div class="fixed left-1/2 -translate-x-1/2 top-4 z-50 bg-base-100/70 backdrop-blur shadow-sm w-400 rounded-xl">
  <input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
  
  <label for="navbar-1-toggle" class="fixed inset-0 z-10 hidden max-lg:peer-checked:block cursor-default"></label>

  <div class="collapse-title navbar relative z-20">
    
    <div class="navbar-start">
      <label for="navbar-1-toggle" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>
      <button routerLink="/inicio" class="btn btn-ghost text-xl">☀️ Solaris</button>
    </div>

    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary>Páginas</summary>
            <ul class="p-2 bg-base-100 rounded-box w-30 z-10">
              <li><button routerLink="/hoy/don benito">Hoy</button></li>
              <li><button routerLink="/prediccion/don benito/7">Pronóstico</button></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="navbar-end">
      <p class="mr-4">MeteoEscuela</p>
    </div>
  </div>

  <div class="collapse-content relative z-20 bg-base-200">
    <ul class="menu w-full">
      <li class="menu-title">Páginas</li>
      <li><button routerLink="/hoy/don benito">Hoy</button></li>
      <li><button routerLink="/prediccion/don benito/7">Pronóstico</button></li>
    </ul>
  </div>
</div>