<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a routerLink="/inicio" class="btn btn-ghost text-xl">☀️ Solaris</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>MeteoEscuela 25/26</a></li>
      <li>
        <details>
          <summary>Páginas</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a routerLink="/hoy">Hoy</a></li>
            <li><a routerLink="/prediccion">Prediccion</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
